body{
  background-size: 100%;
  background-color: black;
  /* font-family: "Courier New", Courier, monospace;
  color:black; */
}

.power {
  width: 150px;
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;


}
